.loginuser {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginbox {
  width: 20%;
  height: 30%;
  padding: 1rem;
  box-shadow: 1px 1px 10px rgb(202, 202, 202), 1px 1px 20px rgb(179, 179, 179);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h1 {
    padding: 1rem;
    color: rgb(31, 167, 230);
  }
  input {
    width: 70%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    border: 1px solid rgb(31, 167, 230);
  }
}

.go {
  font-size: 2rem;
  padding: 0rem 2rem;
  margin: 1rem 0rem;
  border: none;
  background: rgb(31, 167, 230);
  color: white;
  cursor: pointer;
  &:hover {
    background: rgb(28, 145, 199);
  }
}

.sketch-picker {
  width: 90% !important;
}

.saturation-black:hover {
  cursor: pointer;
}

.flexbox-fix {
  padding: 0.5rem 0rem !important;
  label {
    display: none !important;
  }
}

.flexbox-fix {
  div {
    height: 30px !important;
    overflow: all !important;
  }
}

.hue-horizontal:hover {
  cursor: pointer;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: rgb(31, 167, 230);
  }
}

#rc-editable-input-2 {
  display: none !important;
}
#rc-editable-input-4 {
  display: none !important;
}
#rc-editable-input-6 {
  display: none !important;
}
#rc-editable-input-8 {
  display: none !important;
}
