.main {
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1.2;
  background: rgb(236, 236, 236);
}

.header-nav {
  padding: 0.5rem;
  border-bottom: 1px solid rgb(202, 202, 202);
  background: white;
  .nav-div {
    width: 30px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin-bottom: 0.3rem;
  }
  .nav-divs {
    cursor: pointer;
    display: none;
  }
  .open-search {
    cursor: pointer;
    border: 1px solid black;
    padding: 0.5rem;
    display: none;
  }
  h1 {
    font-weight: 800;
  }
}

.profile-pic-main {
  width: 50px;
  height: 50px;
  background: gray;
  border-radius: 50%;
}

.whats-happening {
  border-bottom: 1px solid rgb(202, 202, 202);
  background: white;
}

.whats-happening-top {
  width: 95%;
  margin: auto;
  padding-top: 1rem;
  display: flex;
}
.happening-textarea {
  height: 2.5rem;
  margin: auto 0;
  margin-left: 1rem;
  width: 80%;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.whats-happening-bottom {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;

  button {
    background: rgb(31, 167, 230);
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 40px;
  }
}

.happening-icon {
  color: rgb(31, 167, 230);
  transform: scale(1.75);
  margin: 1rem;
  cursor: pointer;
}
.happening-icons {
  display: flex;
}

.tweet-icon {
  transform: scale(1.5);
  text-align: center;
  margin-right: 0.5rem;
}

.gap {
  height: 1vh;
}
