* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scrollbar-width: none;
  font-weight: 400;
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
}

@import "left";
@import "right";
@import "main";
@import "tweet";
@import "username";
@import "mobile";
